<% layout('../layouts/mainlayout.ejs') -%>
<br/>
<h3>Review Listing</h3>
<table>
    <tr>
        <th>
            Rating Out of 5
        </th>
        <th>
            <h5><%= movies.movieName %></h5>
        </th>
        <th>
            <a href='/User/WriteReview?_movieName=<%=movies.movieName%>'> Write a Review</a>
        </th>
    </tr>
        <% for(var i = 0; i < movies.reviewArray.length; i++) { %>
        <tr>
            <td>
                <%=movies.reviewArray[i]['rating'] %>
            </td>
            <td>
                <%=movies.reviewArray[i]['review'] %>
            </td>
            <td>
            <%=movies.reviewArray[i]['username'] %>
            <%=movies.reviewArray[i]['date'] %>
            </td>
                
            <% } %>
        </tr>

</table>